.header-bar {
    float: right;
    width: 250px;
    height: 100vh;
    min-height: 400px;
    overflow: auto;
    background: #ffecef;
    padding: 30px;
    text-align: right;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    float: none;
    height: 70px !important;
    min-height: 70px;
}

.text-white {
    color: #080808!important;
}


body {
    line-height: 1.7;
    color: gray;
    font-weight: 400;
    font-size: 1rem;
    background: #ffecef;
}


input[type="text" i] {
    padding: 1px 2px;
    color: black;
}
