.header-bar {
    float: right;
    width: 250px;
    height: 100vh;
    min-height: 400px;
    overflow: auto;
    background: #000000 !important;
    padding: 30px;
    text-align: right;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    float: none;
    height: 70px !important;
    min-height: 70px;
}

.text-white {
    color: #white !important;
}



body {
    line-height: 1.7;
    color: gray;
    font-weight: 400;
    font-size: 1rem;
    background: #000000 !important;
}


input[type="text" i] {
    padding: 1px 2px;
    color: black;
}


@media screen and (max-width:764px){
  .change1 svg{
    width:30px;
    position: relative;
    right: 15px;

  }
  .change1 h3{
    font-size:10px;
    position: relative;
    right: 15px;
  }
  .mb-5{
    font-size:10px;
    width:300px;
    margin:15px;
  }
  .site-wrap img{
    position: relative;
    left:50px;
    width:80px;
  }


}
