{% extends 'base.html' %}
{% load static %}


{% block content %}
  <main class="main-content">
    <div class="container-fluid photos">
      <div class="row justify-content-center">

        <div class="col-md-6 pt-4">
          <br/>
          <br/>


          <h2 class="text-white mb-4" data-aos="fade-up">Hello! I'm Sitora</h2>

          <div class="row" data-aos="fade-up">
            <div class="col-md-12">

              <div>
                <p>I am Rakhmonova Sitora. I am 21 years old. Currently I'm studying at Westminster International University (direction of economics, 4th year). But at the same time I'm working on my artistic skills.</p>
                <p>Having been accepted into Westminster University, I started becoming creative professionally. Around the Westminster University there is an Art Studio where professional teachers teach art. Nowadays, I am one of the active students who attend this Art Club.Apart from the University of Westminster, exhibitions are held annually in the House of Photography, and various open-air exhibitions.
I am considered to be the most active participant in every event.</p>
                <p>In April 2018, I received a Certificate for participating and for assisting in organizing the Art exhibition Culture Week 2018 exhibition. In March 2018, I received a certificate for participation in the exhibition, which was organized in honor of the Navruz holiday "Navruz Celebration". And also in 2019, in November, I received certificates for participation in exhibitions which were held at the House of Photography “Generation if Independence: My motherland is my inspiration” and on the territory of the University of Westminster “Creative Works of WIUT students”.
I am also a participant of the 2nd Tashkent International Biennale of Applied Arts.
In 2019, I taught at MasterskayaUz in the Resin Art technique.</p>
                <p class="mb-5">I really want to get into CCA LAB Tashkent. I really want to expand my knowledge, gain experience, and share my ideas.</p>
                </div>

                <div class="mb-4">
                  <img src="{% static 'app/images/sit2.jpg' %}" class="img-fluid rounded-circle" style="max-width: 120px; ">
                </div>
                <p class="mt-4 ml-2">Thanks! <br> <strong class="text-white">Rakhmonova Sitora</strong></p>
              </div>
          </div>
        </div>

      </div>

      <div class="row justify-content-center">
        <div class="col-md-12 text-center py-5">
          
        </div>
      </div>
    </div>
  </main>

</div> <!-- .site-wrap -->

<script src="{% static 'app/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'app/js/jquery-migrate-3.0.1.min.js' %}"></script>
<script src="{% static 'app/js/jquery-ui.js' %}"></script>
<script src="{% static 'app/js/popper.min.js' %}"></script>
<script src="{% static 'app/js/bootstrap.min.js' %}"></script>
<script src="{% static 'app/js/owl.carousel.min.js' %}"></script>
<!-- <script src="js/jquery.stellar.min.js"></script> -->
<script src="{% static 'app/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'app/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'app/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'app/js/aos.js' %}"></script>

<script src="{% static 'app/js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'app/js/swiper.min.js' %}"></script>
<script src="{% static 'app/js/jquery.scrollbar.js' %}"></script>
<script src="{% static 'app/js/main.js' %}"></script>



  </body>
</html>
{% endblock %}
