{% extends 'base.html' %}
{% load static %}



{% block content  %}

<div class="swiper-container gallery-top">
<div class="swiper-wrapper">
<div class="swiper-slide cover" style="background-image:url({% static 'app/images/4-min.jpg' %}); width:352px;">
  <a href="{% static 'app/images/4-min.jpg' %}" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>“Quiet” Size: 80x60x2 Year: 2019 </h2>
      <div class="scrollbar-inner style-scrollbar-sm js-scrollbar-container">
        <p class="mb-0">
The painting shows the beautifulness of our nature. Quiet Nature. Peace of environment is peace of mind.  Peace of mind is the most important thing in our life. Without it, our life will not have meaning.
</p>
      </div>
    </div>
  </div>
</div>

<div class="swiper-slide cover" style="background-image: url({% static 'app/images/2-min.jpg' %});">
  <a href="{% static 'app/images/2-min.jpg' %}" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>Image Title Here 2</h2>
      <div class="scrollbar-inner style-scrollbar-sm js-scrollbar-container">
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium.</p>
    </div>
    </div>
  </div>
</div>

<div class="swiper-slide cover" style="background-image: url({% static 'app/images/3-min.jpg' %});">
  <a href="{% static 'app/images/3-min.jpg' %}" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>“Quiet” Size: 80x60x2 Year: 2019</h2>
      <div class="scrollbar-inner style-scrollbar-sm js-scrollbar-container">
      <p class="mb-0">The painting shows the beautifulness of our nature. Quiet Nature. Peace of environment is peace of mind.  Peace of mind is the most important thing in our life. Without it, our life will not have meaning.</p>
    </div>
    </div>
  </div>
</div>

<div class="swiper-slide cover" style="background-image: url({% static 'app/images/7-min.jpg' %});">
  <a href="{% static 'app/images/7-min.jpg' %}" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>Image Title Here 4</h2>
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium.</p>
    </div>
  </div>
</div>

<div class="swiper-slide cover" style="background-image: url({% static 'app/images/5-min.jpg' %});">
  <a href="{% static 'app/images/5-min.jpg' %}" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>Image Title Here 5</h2>
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium.</p>
    </div>
  </div>
</div>

<div class="swiper-slide cover" style="background-image: url({% static 'app/images/6-min.jpg' %});">
  <a href="{% static 'app/images/6-min.jpg' %}" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>Image Title Here 6</h2>
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium.</p>
    </div>
  </div>
</div>

<div class="swiper-slide cover" style="background-image: url({% static 'app/images/1-min.jpg' %});">
  <a href="{% static 'app/images/1-min.jpg' %}" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>Image Title Here 7</h2>
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium.</p>
    </div>
  </div>
</div>

<div class="swiper-slide cover" style="background-image: url({% static 'app/images/8-min.jpg' %});">
  <a href="{% static 'app/images/8-min.jpg' %}" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>Image Title Here 8</h2>
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium.</p>
    </div>
  </div>
</div>

<div class="swiper-slide cover" style="background-image: url({% static 'app/images/9-min.jpg' %});">
  <a href="{% static 'app/images/9-min.jpg' %}" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>Image Title Here 9</h2>
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium.</p>
    </div>
  </div>
</div>

<div class="swiper-slide cover" style="background-image: url({% static 'app/images/10-min.jpg' %});">
  <a href="{% static 'app/images/10-min.jpg' %}" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>Image Title Here 10</h2>
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium.</p>
    </div>
  </div>
</div>

<div class="swiper-slide cover" style="background-image: url({% static 'app/images/11-min.jpg' %});">
  <a href="{% static 'app/images/11-min.jpg' %}" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>Image Title Here</h2>
      <div class="scrollbar-inner style-scrollbar-sm js-scrollbar-container">
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur facilis architecto deserunt doloribus, nisi placeat quas ratione perferendis? Placeat aliquid assumenda, odio numquam vero eveniet fugit blanditiis dolorum laudantium voluptatibus!</p>
      </div>
    </div>
  </div>
</div>

<div class="swiper-slide cover" style="background-image: url({% static 'app/images/12-min.jpg' %});">
  <a href="{% static 'app/images/12-min.jpg' %}" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>Image Title Here 2</h2>
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium.</p>
    </div>
  </div>
</div>

<div class="swiper-slide cover" style="background-image: url({% static 'app/images/13-min.jpg' %});">
  <a href="{% static 'app/images/13-min.jpg' %}" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>Image Title Here 3</h2>
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium.</p>
    </div>
  </div>
</div>

<div class="swiper-slide cover" style="background-image: url({% static 'app/images/15-min.jpg' %});">
  <a href="{% static 'app/images/15-min.jpg' %}" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>Image Title Here 5</h2>
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium.</p>
    </div>
  </div>
</div>

<div class="swiper-slide cover" style="background-image: url({% static 'app/images/16-min.jpg' %});">
  <a href="{% static 'app/images/16-min.jpg' %}" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>“Weakness” Size: 60x100x2 Year: 2019</h2>
      <p class="mb-0">
The painting represents the flowers. But we know that flowers are very weak. If we will not look after them or do not water the flowers, they die. All women look like flowers. Even if they do not want to show their weakness, it will be visible after some time. Because flowers cannot live long without water. But painting represents the beautiful, strong, smart person that spiritual beauty never will die.
</p>
    </div>
  </div>
</div>

<div class="swiper-slide cover" style="background-image: url({% static 'app/images/17-min.jpg' %});">
  <a href="{% static 'app/images/17-min.jpg' %}" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>Image Title Here 7</h2>
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium.</p>
    </div>
  </div>
</div>

<div class="swiper-slide cover" style="background-image: url({% static 'app/images/18.jpg' %});">
  <a href="{% static 'app/images/18.jpg' %}" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>Image Title Here 8</h2>
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium.</p>
    </div>
  </div>
</div>

<div class="swiper-slide cover" style="background-image: url({% static 'app/images/img_9.jpg' %});">
  <a href="{% static 'app/images/img_9.jpg' %}" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>Image Title Here 9</h2>
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium.</p>
    </div>
  </div>
</div>

<div class="swiper-slide cover" style="background-image: url({% static 'app/images/img_10.jpg' %});">
  <a href="{% static 'app/images/img_10.jpg' %}" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
  <div class="img-info">
    <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
    <div class="img-info-content">
      <h2>Image Title Here 10</h2>
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium.</p>
    </div>
  </div>
</div>

</div>

<div class="swiper-button-next swiper-button-white"></div>
<div class="swiper-button-prev swiper-button-white"></div>
</div>
<div class="swiper-container gallery-thumbs">
<div class="swiper-wrapper">
<div class="swiper-slide cover" style="background-image:url({% static 'app/images/7-min.jpg' %})"></div>
<div class="swiper-slide cover" style="background-image:url({% static 'app/images/2-min.jpg' %})"></div>
<div class="swiper-slide cover" style="background-image:url({% static 'app/images/3-min.jpg' %})"></div>
<div class="swiper-slide cover" style="background-image:url({% static 'app/images/4-min.jpg' %})"></div>
<div class="swiper-slide cover" style="background-image:url({% static 'app/images/5-min.jpg' %})"></div>
<div class="swiper-slide cover" style="background-image:url({% static 'app/images/6-min.jpg' %})"></div>
<div class="swiper-slide cover" style="background-image:url({% static 'app/images/7-min.jpg' %})"></div>
<div class="swiper-slide cover" style="background-image:url({% static 'app/images/8-min.jpg' %})"></div>
<div class="swiper-slide cover" style="background-image:url({% static 'app/images/9-min.jpg' %})"></div>
<div class="swiper-slide cover" style="background-image:url({% static 'app/images/10-min.jpg' %})"></div>
<div class="swiper-slide cover" style="background-image:url({% static 'app/images/11-min.jpg' %})"></div>
<div class="swiper-slide cover" style="background-image:url({% static 'app/images/12-min.jpg' %})"></div>
<div class="swiper-slide cover" style="background-image:url({% static 'app/images/3-min.jpg' %})"></div>
<div class="swiper-slide cover" style="background-image:url({% static 'app/images/16-min.jpg' %})"></div>
<div class="swiper-slide cover" style="background-image:url({% static 'app/images/15-min.jpg' %})"></div>
<div class="swiper-slide cover" style="background-image:url({% static 'app/images/17-min.jpg' %})"></div>
<div class="swiper-slide cover" style="background-image:url({% static 'app/images/18-min.jpg' %})"></div>


</div>
</div>

</div> <!-- .site-wrap -->

  <script src="{% static 'app/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'app/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'app/js/jquery-ui.js' %}"></script>
  <script src="{% static 'app/js/popper.min.js' %}"></script>
  <script src="{% static 'app/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'app/js/owl.carousel.min.js' %}"></script>
  <!-- <script src="js/jquery.stellar.min.js"></script> -->
  <script src="{% static 'app/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'app/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'app/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'app/js/aos.js' %}"></script>

  <script src="{% static 'app/js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'app/js/swiper.min.js' %}"></script>
  <script src="{% static 'app/js/jquery.scrollbar.js' %}"></script>
  <script src="{% static 'app/js/main.js' %}"></script>



  </body>
</html>
{% endblock %}
