{% extends 'base.html' %}
{% load static %}
{% block content %}

  <main class="main-content">
    <div class="container-fluid photos">
      <br/>
      <br/>
      <div class="row align-items-stretch">


        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up">
          <a href="{% static 'app/images/3v.jpg' %}" class="d-block photo-item" data-fancybox="gallery">
            <img src="{% static 'app/images/3v.jpg' %}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <a href="{% static 'app/images/6v.jpg' %}" class="d-block photo-item" data-fancybox="gallery">
            <img src="{% static 'app/images/6v.jpg' %}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <a href="{% static 'app/images/15v.jpg' %}" class="d-block photo-item" data-fancybox="gallery">
            <img src="{% static 'app/images/15v.jpg' %}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>

        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up">
          <a href="{% static 'app/images/16v.jpg' %}" class="d-block photo-item" data-fancybox="gallery">
            <img src="{% static 'app/images/16v.jpg' %}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <a href="{% static 'app/images/7v.jpg' %}" class="d-block photo-item" data-fancybox="gallery">
            <img src="{% static 'app/images/7v.jpg' %}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <a href="{% static 'app/images/8v.jpg' %}" class="d-block photo-item" data-fancybox="gallery">
            <img src="{% static 'app/images/8v.jpg' %}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>

        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up">
          <a href="{% static 'app/images/9v.jpg' %}" class="d-block photo-item" data-fancybox="gallery">
            <img src="{% static 'app/images/9v.jpg' %}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <a href="{% static 'app/images/18h.jpg' %}" class="d-block photo-item" data-fancybox="gallery">
            <img src="{% static 'app/images/18h.jpg' %}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <a href="{% static 'app/images/2h.jpg' %}" class="d-block photo-item" data-fancybox="gallery">
            <img src="{% static 'app/images/2h.jpg' %}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>


        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up">
          <a href="{% static 'app/images/17h.jpg' %}" class="d-block photo-item" data-fancybox="gallery">
            <img src="{% static 'app/images/17h.jpg' %}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up">
          <a href="{% static 'app/images/3h.jpg' %}" class="d-block photo-item" data-fancybox="gallery">
            <img src="{% static 'app/images/3h.jpg' %}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <a href="{% static 'app/images/11h.jpg' %}" class="d-block photo-item" data-fancybox="gallery">
            <img src="{% static 'app/images/11h.jpg' %}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <a href="{% static 'app/images/1h.jpg' %}" class="d-block photo-item" data-fancybox="gallery">
            <img src="{% static 'app/images/1h.jpg' %}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>

        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up">
          <a href="{% static 'app/images/14-min.jpg' %}" class="d-block photo-item" data-fancybox="gallery">
            <img src="{% static 'app/images/14-min.jpg' %}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <a href="{% static 'app/images/13v.jpg' %}" class="d-block photo-item" data-fancybox="gallery">
            <img src="{% static 'app/images/13v.jpg' %}" alt="Image" class="img-fluid">
            <div class="photo-text-more">
              <span class="icon icon-search"></span>
            </div>
          </a>
        </div>
      

      </div>

      <div class="row justify-content-center">
        <div class="col-md-12 text-center py-5">
          <p>

            Sitora Rakhmonova

      </p>
        </div>
      </div>
    </div>
  </main>

</div> <!-- .site-wrap -->

<script src="{% static 'app/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'app/js/jquery-migrate-3.0.1.min.js' %}"></script>
<script src="{% static 'app/js/jquery-ui.js' %}"></script>
<script src="{% static 'app/js/popper.min.js' %}"></script>
<script src="{% static 'app/js/bootstrap.min.js' %}"></script>
<script src="{% static 'app/js/owl.carousel.min.js' %}"></script>
<!-- <script src="js/jquery.stellar.min.js"></script> -->
<script src="{% static 'app/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'app/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'app/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'app/js/aos.js' %}"></script>

<script src="{% static 'app/js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'app/js/swiper.min.js' %}"></script>
<script src="{% static 'app/js/jquery.scrollbar.js' %}"></script>
<script src="{% static 'app/js/main.js' %}"></script>



  </body>
</html>

{% endblock %}
